<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diretivas: v-on</title>
  </head>
  <body>
    <div id="directives">
      <h1 v-on:click="reverseMessage">{{ message }}</h1>
      <h3 v-on:[eventname]="reverseMessage">{{ message }}</h3>
      <hr />
      <input type="text" placeholder="Buscar cidades" v-model="searchQuery" />
      <ul>
        <li v-for="city in citiesFiltred" :key="city">{{ city }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: "#directives",
        data: {
          message: "As diretivas Vue.js são fantásticas!",
          eventname: "click",
          cities: ["Rio de Janeiro", "São Paulo", "Fortaleza", "Recife"],
          searchQuery: "",
          citiesFiltred: [],
        },
        created() {
          this.citiesFiltred = this.cities;
        },
        methods: {
          reverseMessage() {
            this.message = this.message.split("").reverse().join("");
          },
          filterCities() {
            this.citiesFiltred = this.cities.filter((name) => {
              const formattedName = name.toUpperCase().trim();
              const formattedQuery = this.searchQuery.toUpperCase().trim();
              return formattedName.includes(formattedQuery);
            });
          },
        },
      });
    </script>
  </body>
</html>
